.messagesWrapper::-webkit-scrollbar {
    width: 8px;
    background-color: lightgrey;
    border-radius: .5em;
}

.messagesWrapper::-webkit-scrollbar-thumb {
    border-radius: .5em;
    background-color: grey;
}
